libboost-dev
libboost-filesystem-dev
libboost-system-dev
liballegro5-dev
liballegro-ttf5-dev
libgsl-dev
libboost-all-dev
libboost-atomic-dev
libboost-atomic1.62-dev
libboost-atomic1.62.0
libboost-chrono-dev
libboost-chrono1.62-dev
libboost-chrono1.62.0
libboost-context-dev
cpp-5
gcc-5
gcc-5-base
libasan2
libgcc-5-dev
libmpx0
g++-5
libstdc++-5-dev